#preloader {
    position:fixed;
    left:0;
    top:0;
    z-index:99999999999;
    width:100%;
    height:100%;
    overflow:visible;
    background: #fff url('../images/preloader.gif') no-repeat center center;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 18px;
}

p.small {
  font-size: 16px;
}

a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #18bc9c;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
  	margin-bottom: 0px;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr{
    padding: 10px;
    width: 250px;
    border-top: 2px solid #000000;
}

.img-centered {
    margin: 0 auto;
}

/* Section Navbar*/
.navbar-awal {
	background-color: transparent;
	border-color: transparent;
    color: rgb(255, 255, 255);
    position: fixed;
    height: auto;
    z-index: 1;
    padding: 10px 0px;
    width: 100%;
}


.navbar {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    z-index: 1;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar-inverse {
    background-color: #284262;
    border-color: transparent;
    color: rgb(255, 255, 255);
    position: fixed;
    height: auto;
    z-index: 1;
    padding: 10px 0px;
    width: 100%;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #00FFFF;
	background-color: transparent;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #00FFFF;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00FFFF;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
	  color: #FFF;
}

/* All Section Styles
/* -------------------------------------*/
section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
}

/* Introduction Styles
/* -------------------------------------*/
#banner {
  -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(3, 3, 3)), url(../images/bg-header.jpg);
    background-size: auto, cover;
    background-attachment: fixed;
    background-position: center, center;
    background-repeat: no-repeat;
    min-height: 700px;
  	text-align: center;
  	color: #fff;
  	background-color: #0066FF;
}

#banner .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#banner .intro-text .name {
    padding-top: 100px;
    display: block;
    font-family: 'Amaranth', cursive;
    font-size: 2em;
    font-weight: 700;
}

#banner .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    #banner .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #banner .intro-text .name {
        font-size: 4.75em;
    }

    #banner .intro-text .skills {
        font-size: 1.75em;
    }
}

/* About & Contact Styles
/* -------------------------------------*/

#about {
	background-color: #ffffff;
	color: #333333;
}

.about-text {
    padding-top: 50px;
}

#about h2, #about p {
    text-align: left;
    padding: 20px 0 20px 0;
}

#about a{
	float: left;
 }

 /* Section Video*/

 #video {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
    background-image: url(../images/img.jpg);
    background-size: cover;
  background-attachment: fixed;
  background-position: center, center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
 }

 #video .text .name {
     padding-top: 50px;
     padding-bottom: 50px;
     display: block;
     text-transform: uppercase;
     font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 2em;
     font-weight: 750;
 }
 #banner .text .skills a {
     font-size: 1.25em;
     font-weight: 300;
 }
 .btn-play {
     color: red;
 	  display: inline-block;
 }

 .btn:focus,
 .btn:active,
 .btn.active {
     outline: 0;
 }
 @media(min-width:768px) {
     #video .container {
         padding-top: 100px;
         padding-bottom: 100px;
     }

     #video .text .name {
         font-size: 3em;
     }
     #video .text .skills {
        font-size: 3.5em;
    }
 }
/* Gallery */

#gallery {
  background-color: #284262;
	color: #ffffff;
}

#gallery .gallery-item {
    right: 0;
    margin: 0 0 15px;
}
.gallery-item img {
	display: block;
}

.caption {
	position: absolute;
	bottom: 0em;
	left: 1em;
	right: 1em;
	color: white;
	background: rgba(0, 0, 0, 0.788);
	padding-bottom: 1em;
}

.caption p {
    margin: 1em;
    text-align: center;
}

@media (min-width: 37rem) {
	.gallery-item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem) {
	.gallery-item {
		width: 25%;
		overflow: hidden;
	}

	.caption {
		transform: translateY(150%);
	}

	.gallery-item:hover .caption {
		transform: translateY(0%);
	}
}
@media(min-width:767px) {
    #gallery .gallery-item {
        margin: 0 0 30px;
    }
}

/* Section News*/

#news {
	background-color: #284262;
	color: #ffffff;
	padding-bottom: 50px;
}

.judul {
	position: absolute;
	z-index: 0;
	bottom: 0em;
	left: 1em;
	right: 1em;
	color: white;
    background: rgba(0,0,0,.6);
	padding-bottom: 1em;
}

.judul h4 {
	margin: 2em 0 0 0;
}

@media (min-width: 60rem) {
	.judul {
		position: absolute;
        bottom: 1em;
        left: 1em;
        right: 1em;
        color: white;
        background: rgba(0, 0, 0, 0.829);
        padding-bottom: 1em;
	}
}

.carousel-inner img{
	margin-bottom:15px;
	width: 400px;
	height: 300px;
}

.carousel-inner{
	margin-bottom:30px;
}
.carousel-inner a{
    font-size:15px;
    color: rgb(253, 253, 253);
    font-weight: bold;
	text-transform:none;
}

.carousel-control.left,.carousel-control.right  {
	background:none;
	width:25px;
	color: #ffffff;

}
.carousel-control.left {
	left:5px;
}
.carousel-control.right {
	right:5px;
}
.modal-content{
	background-color: #284262;
}
.modal-content img{
	margin-bottom:15px;
	width: 860px;
	height: 459px;
}

.modal-content button.close{
	color: #ffffff;
}

/* Contact Styles
/* -------------------------------------*/
.btn-social {
    color: #284262;
	  display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #284262;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* Footer Styles
/* -------------------------------------*/
footer {
  color: #fff;
  background-color: #284262;
  padding: 20px 0;
}
.social ul li{
	display:inline-block;
	padding-top: 10px;
	padding-left:5px;
}

.social ul li a i{
  color: #ffffff;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.copy-text p{
	font-size: 17px;
	padding: 20px 0;
}

/*Blog*/

.single-blog h3{
	font-size:28px;
	font-weight:bold;
	margin-bottom:20px;
	line-height:35px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* Back to Top
/* -------------------------------------*/
#toTop {
	background:#999;
	cursor:pointer;
	display:none;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	height: 32px;
	width: 32px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;

	opacity: 0.5;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
	    filter: alpha(opacity=50);
}
/* Other Styles
/* -------------------------------------*/
.wow {
   visibility: hidden;
 }
